@font-face {
    font-family: 'Splatfont';
    src: url('../assets/font/Splatfont.woff2') format('woff2'),
        url('../assets/font/Splatfont.woff') format('woff');
}

body {
    background-size: cover;
    padding: 40px;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    max-width: 1440px;
    max-height: 960px;
    position: absolute;
    top: 50%;
    left: 50%;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url('../assets/img/screenshots.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #ffffff1f;
    transform: translate(-50%, -50%);
    transition: box-shadow 0.5s;
}
.container:hover {
    box-shadow: 0px 0px 20px #ffffff3f;
}
.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}
.logo {
    display: inline-block;
    width: 68%;
    height: 68%;
    background-image: url('../assets/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.slogon {
    display: inline-block;
    color: #dcdcdc;
    font-family: 'Splatfont';
    font-size: 10vmin;
    font-weight: bold;
    text-align: center;
    margin: -3vmin 0px;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.btn {
    display: inline-block;
    background-color: #ffffff5f;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #ffffff3f;
    padding: 15px 32px;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 2vmin;
    transition: background 0.5s;
    -webkit-tap-highlight-color: transparent;
}
.btn:hover {
    background-color: #ffffff7f;
}
.btn:focus {
    outline: none;
    background-color: #ffffff6f;
}

@media screen and (max-width: 45em) {
    .buttons {
      flex-direction: column;
    }
    .btn {
        width: 100%;
        padding: 15px 0px;
        margin: 1.5vmin;
    }
}
